.kaufman__triangle {
background-image: url(../../../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -240px;
  top:0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
